beautifulsoup4==4.8.2
bs4==0.0.1
certifi==2019.11.28
chardet==3.0.4
colorama==0.4.3
dnspython==1.16.0
idna==2.8
lxml==4.5.0
PySocks==1.7.1
python-etcd==0.4.5
redis==3.4.0
requests==2.22.0
requests-futures==1.0.0
soupsieve==1.9.5
stem==1.8.0
torrequest==0.1.0
urllib3==1.25.8
